<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
    <property name="hibernate.connection.username">unip</property>
    <property name="hibernate.connection.password">unip</property>-->
    
    <!--
    <property name="hibernate.connection.autocommit">false</property>
    <property name="hibernate.current_session_context_class">jta</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    -->
    <!--<property name="hibernate.dialect">com.mysql.jdbc.Driver</property>-->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernatemysql</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>

    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.current_session_context_class">jta</property>
    
    <mapping class="model.UsuarioModel"/>
    <mapping class="model.FabricanteModel"/>
    <mapping class="model.UnidadeSaudeModel"/>
    <mapping class="model.PacienteModel"/>
    <mapping class="model.VacinacaoModel"/>
    <mapping class="model.VacinadoresModel"/>
    
  </session-factory>
</hibernate-configuration>
